@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
    height: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: #e0e7ff;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6366f1;
    border-radius: 4px;
}